//go:build ignore
// +build ignore

package main

import (
	"app/db"
	"os/exec"

	"github.com/oSethoum/gorming"
	"github.com/oSethoum/gorming/types"
)

func main() {
	engine := gorming.New(types.Config{
		DBKind:       types.SQLite,
		Case:         types.Snake,
		Server:       types.Fiber,
		FilesAction:  types.Generate,
		Package:      "app",
		Debug:        false,
		Files: []types.File{
			types.FileDB,
			types.FileApi,
			types.FileError,
			types.FileHandler,
			types.FileHooks,
			types.FileMigration,
			types.FilePrivacy,
			types.FileQuery,
			types.FileResource,
			types.FileResponse,
			types.FileRoutes,
			types.FileSchema,
			types.FileTsApi,
			types.FileTsTypes,
			types.FileUtils,
			types.FileWs,
		},
	})

	engine([]any{})
	exec.Command("gofmt", "-w", "-s", "-l", "../..").Run()
}
