package db

import (
	"time"

	"gorm.io/gorm"
)

type Model struct {
	ID        uint         `json:"id,omitempty" gorm:"primarykey"`
	CreatedAt time.Time      `json:"created_at,omitempty"`
	UpdatedAt time.Time      `json:"updated_at,omitempty"`
	DeletedAt gorm.DeletedAt `json:"deleted_at,omitempty" gorm:"index"`
	// this field will be used for updating columns to a NULL value
	SetNULL   []string       `json:"set_null,omitempty" gorm:"-:all"`
}
