package routes

import (
	"{{ .Config.Package }}/handlers"
	"{{ .Config.Package }}/models"

	"github.com/gofiber/fiber/v2"
)

func routes(r fiber.Router) {
	{{- range .Schema.Tables }}
	{{ tableName . }} := r.Group("/{{ tableName . }}")
	{{ tableName . }}.Get("/", handlers.QueryResource[models.{{ .Name }}]("{{ tableName . }}"))
	{{ tableName . }}.Post("/", handlers.CreateResource[models.{{ .Name }}]("{{ tableName . }}"))
	{{ tableName . }}.Patch("/", handlers.UpdateResource[models.{{ .Name }}]("{{ tableName . }}"))
	{{ tableName . }}.Delete("/", handlers.DeleteResource[models.{{ .Name }}]("{{ tableName . }}"))
	{{ end }}
}
