package routes

import (
	"{{ .Config.Package }}/handlers"
	"{{ .Config.Package }}/db"

	"github.com/gofiber/fiber/v2"
)

func Routes(r fiber.Router) {
	{{- range .Schema.Tables }}
	{{ tableName . }} := r.Group("/{{ tableName . }}")
	{{ tableName . }}.Get("/", handlers.QueryResource[db.{{ .Name }}]("{{ tableName . }}"))
	{{ tableName . }}.Post("/", handlers.CreateResource[db.{{ .Name }}]("{{ tableName . }}"))
	{{ tableName . }}.Patch("/", handlers.UpdateResource[db.{{ .Name }}]("{{ tableName . }}"))
	{{ tableName . }}.Delete("/", handlers.DeleteResource[db.{{ .Name }}]("{{ tableName . }}"))
	{{ end }}
}
