{{- range .Schema.Types }}
export type {{ .Name }} = {
    {{ range .Columns -}}
    {{- if .Tags.Json.Ignore}}{{ continue }}{{ end -}}
    {{ tsName . }}{{- tsOptional . -}}: {{ tsType . }};
    {{ end -}}
}
{{ end }}

{{- range .Schema.Tables }}

export type {{ .Name }} = {
    {{ range .Columns -}}
    {{ $column := . }}
    {{ if eq .Name "SetNULL" -}} {{ continue }} {{ end -}}
    {{- if .Tags.Json.Ignore}}{{ continue }}{{ end -}}
    {{-  with .Edge -}}
    {{ tsName $column }}?: {{ tsType $column }};
    {{- else -}}
    {{ tsName $column }}{{- tsOptional $column -}}: {{ tsType $column }};
    {{- end -}}
    {{ end -}}
}
{{ end }}

{{- range .Schema.Tables }}
{{ $table := . }}
  export type {{ .Name }}Relations = {
    {{ range .Columns -}}
    {{- $column := . -}}
    {{ with .Edge -}}
    {{ tsName $column }}:"{{ tableNameString .Table }}";
    {{ end -}}
    {{ end -}}
  };

  export type {{ .Name }}Fields = Omit<{{ .Name }}, keyof {{ .Name }}Relations>;
  export type {{ .Name }}UniqueRelations = "{{ uniqueRelations . }}";

  export type {{ .Name }}CreateInput = {
    {{- range .Columns -}}
      {{- $column := . -}}
      {{- if or ( .Tags.Json.Ignore ) ( tsCreateIgnore $table $column ) }}{{ continue }}{{end -}}
      {{ if eq .Name "SetNULL" -}} {{ continue }} {{ end -}}
      {{- with .Edge }}
      {{ tsName $column }}?: {{- $omit := tsCreateOmit $column -}} {{ $column.RawType }}CreateInput{{- if $column.Slice}}[]{{- end -}};
      {{- else }}
      {{ tsOptionalKey . }}
      {{ tsName $column }}{{- tsOptionalCreate $column  -}}: {{ tsType $column }}{{- tsNullableCreate $column  -}};
      {{- end }}
    {{- end }}
  } {{ tsCreateUnion $table }};

  export type {{ .Name }}UpdateInput = {
    {{- range .Columns -}}
    {{- $column := . -}}
      {{- if .Tags.Json.Ignore }}{{ continue }}{{end}}
      {{- with .Edge }}
      {{ tsName $column }}?: {{ $column.RawType }}UpdateInput{{- if $column.Slice}}[]{{- end -}};
      {{- else }}
      {{ if eq .Name "SetNULL" -}} 
      {{ tsName $column }}?: {{ setNullFieldType $table }} | null;
      {{ else -}}
      {{ tsName $column }}?: {{ tsType $column }} | null;
      {{ end -}}
      {{- end -}}
    {{- end -}}
  };
{{ end }}

export type TSchema = {
  {{ range .Schema.Tables -}}
  {{ tableName . }}: {
    fields: {{ .Name }}Fields;
    type: {{ .Name }};
    create: {{ .Name }}CreateInput;
    update: {{ .Name }}UpdateInput;
    preloads: {
         [K in keyof {{ .Name }}Relations]?: K extends {{ .Name }}UniqueRelations
            ? Omit<TQuery<{{ .Name }}Relations[K]>, "offset" | "limit" | "where" | "orders">
            : TQuery<{{ .Name }}Relations[K]>;
      };
      with: {
         [K in keyof {{ .Name }}Relations]?: {
            with?: TWith<{{ .Name }}Relations[K]>;
            where?: TWhere<{{ .Name }}Relations[K]>;
         };
      };
  };
  {{ end }}
};

export type TWhere<T extends keyof TSchema, K = keyof TSchema[T]["fields"]> = {
   not?: TWhere<T>;
   and?: Array<TWhere<T>>;
   or?: Array<TWhere<T>>;
   field?:
      | [name: K, predicate: TNullPredicate]
      | [name: K, predicate: TArrayPredicate, Array<any>]
      | [name: K, predicate: TBetweenPredicate, [any, any]]
      | [name: K, predicate: TPredicate, any];
};

export type TPredicate = "like" | "=" | "<>" | ">" | ">=" | "<" | "<=";
export type TBetweenPredicate = "between";
export type TArrayPredicate = "in" | "not in";
export type TNullPredicate = "null" | "not null";

type TWith<T extends keyof TSchema> = TSchema[T]["with"];

export type TQuery<T extends keyof TSchema> = {
   select?: Array<keyof TSchema[T]["fields"]>;
   with?: TWith<T>;
   omit?: Array<keyof TSchema[T]["fields"]>;
   offset?: number;
   limit?: number;
   orders?: Array<[keyof TSchema[T]["fields"],"ASC"|"DESC"]>;
   where?: TWhere<T>;
   preloads?: TSchema[T]["preloads"];
};
