package routes

import (
	"{{ .Pkg }}/handlers"
	"{{ .Pkg }}/models"

	"github.com/labstack/echo/v4"
)

func routes(r *echo.Group) {
	{{- range .Tables }}
	handlers.Handle[models.{{ .Name }}](r, "{{ .Table }}")
	{{- end }}
}
