package db

import (
    "{{ .Config.Package }}/env"
	{{ if eq .Config.DBKind "sqlite" }}
	"fmt"
	"github.com/oSethoum/sqlite"
	{{ end }}
	{{ if eq .Config.DBKind "mysql" }}
	"gorm.io/driver/mysql"
	{{ end }}
	{{ if eq .Config.DBKind "postgres" }}
	"gorm.io/driver/postgres"
	{{ end }}
	"gorm.io/gorm"
	{{ if .Config.Debug -}}
	"gorm.io/gorm/logger"
	{{- end -}}
)

var Client *gorm.DB

func Init() error {
	{{ if eq .Config.DBKind "sqlite" }}
	dsn := fmt.Sprintf("file:%s?_fk=1&_pragma_key=%s", env.DB_NAME, env.DB_PASSWORD)
	dialect := sqlite.Open(dsn)
	{{ end }}

	{{ if eq .Config.DBKind "mysql" }}
	dsn := fmt.Sprintf("%s:%s@tcp(127.0.0.1:3306)/%s?charset=utf8mb4&parseTime=True&loc=Local", env.DB_USER, env.DB_PASSWORD, env.DB_NAME)
	dialect := mysql.Open(dsn)
	{{ end }}
	{{ if eq .Config.DBKind "postgres" }}
	dsn := fmt.Sprintf("host=localhost user=%s password=%s dbname=%s port=5432 sslmode=disable", env.DB_USER, env.DB_PASSWORD, env.DB_NAME)
	dialect := postgres.Open(dsn)
	{{ end }}
	client, err := gorm.Open(dialect, &gorm.Config{
		PrepareStmt:                              true,
		{{ if .Config.Debug }}
		Logger:                                   logger.Default.LogMode(logger.Info),
		{{ end -}}
	})

	if err != nil {
		return err
	}

	Client = client
	return nil
}

func Close() error {
	if Client != nil {
		conn, err := Client.DB()
		if err != nil {
			return err
		}
		return conn.Close()
	}
	return nil
}
