package db

import "errors"

func Migrate() error {
    if Client == nil {
        return errors.New("db: client is nil")
    }

    {{ if eq .Config.DBKind "sqlite" -}}
        if err := Client.Exec("PRAGMA foreign_keys = OFF").Error; err != nil {
            return err
        }
    {{- end  }}

    if err := Client.AutoMigrate(
        {{- range .Schema.Tables }}
        &{{ .Name }}{},
        {{- end }}
    ); err != nil {
        return err
    }

    {{ if eq .Config.DBKind "sqlite" -}}
        if err := Client.Exec("PRAGMA foreign_keys = ON").Error; err != nil {
            return err
        }
    {{- end  }}
    return nil
}
