package db

import "errors"

func Migrate() error {
    if Client == nil {
        return errors.New("db: client is nil")
    }
    return Client.AutoMigrate(
        {{- range .Schema.Tables }}
        &{{ .Name }}{},
        {{- end }}
    )
}
