package db

import (
	"log/slog"

	"gorm.io/gorm"
)

type contextKey uint

const (
	PrivacyContextKey contextKey = iota + 1
)

func IsActionDenied(client *gorm.DB, table string, actions ...string) bool {
	slog.Warn("Not Implemented: IsActionDenied")
	return false
}

func IsHookActionDenied(client *gorm.DB, action string) (bool, string) {
	slog.Warn("Not Implemented: IsHookActionDenied")
	return false, ""
}

func IsQueryDenied(client *gorm.DB, table string) bool {
	slog.Warn("Not Implemented: IsQueryDenied")
	return false
}

func OmitDeniedFields(client *gorm.DB, table string) *gorm.DB {
	slog.Warn("Not Implemented: OmitDeniedFields")
	return client
}
