package routes

import (
	"{{ .Config.Package }}/handlers"
	"{{ .Config.Package }}/db"

	"github.com/gofiber/fiber/v2"
)

func routes(r fiber.Router) {
	{{- range .Schema.Tables }}
	{{ $t := tableName . -}}
		{{ if ignoreAllRoute $t | not }}
			{{ $t }} := r.Group("/{{ $t }}")
			{{ if ignoreRoute $t "query" | not -}} 
			{{ $t }}.Get("/", handlers.QueryResource[db.{{ .Name }}]("{{ $t }}"))
			{{ end -}}
			{{ if ignoreRoute $t "create" | not -}} 
			{{ $t }}.Post("/", handlers.CreateResource[db.{{ .Name }}]("{{ $t }}"))
			{{ end -}}
			{{ if ignoreRoute $t "save" | not -}} 
			{{ $t }}.Put("/", handlers.UpdateResource[db.{{ .Name }}]("{{ $t }}"))
			{{ end -}}
			{{ if ignoreRoute $t "update" | not -}} 
			{{ $t }}.Patch("/", handlers.UpdateResource[db.{{ .Name }}]("{{ $t }}"))
			{{ end -}}
			{{ if ignoreRoute $t "delete" | not -}} 
			{{ $t }}.Delete("/", handlers.DeleteResource[db.{{ .Name }}]("{{ $t }}"))
			{{ end -}}
		{{ end }}
	{{ end }}
}
