package handlers

import (
	"{{ .Config.Package }}/utils"
	"sync"

	"github.com/gofiber/contrib/websocket"
)

type (
	Action = string
	Kind   = string

	InMessage struct {
		Action Action   `json:"action,omitempty"`
		Events []string `json:"events,omitempty"`
	}

	OutMessage struct {
		Kind  Kind   `json:"kind,omitempty"`
		Event string `json:"event,omitempty"`
		Error any    `json:"error,omitempty"`
		Data  any    `json:"data,omitempty"`
	}

	BusMessage struct {
		Event string `json:"event,omitempty"`
		Data  any    `json:"data,omitempty"`
	}
)

var (
	ActionSubscribe      = Action("subscribe")
	ActionUnsubscribe    = Action("unsubscribe")
	ActionUnsubscribeAll = Action("unsubscribeAll")
	ActionDisconnect     = Action("disconnect")

	KindConnected    = Kind("connected")
	KindDisconnected = Kind("disconnected")
	KindNotify       = Kind("notify")
	KindWarning      = Kind("warning")
	KindError        = Kind("error")
)

type WebsocketPubSub struct {
	mutex       sync.Mutex
	subscribers map[string]map[*websocket.Conn]bool
}

func (w *WebsocketPubSub) Subscribe(events []string, c *websocket.Conn) {
	w.mutex.Lock()
	for _, event := range events {
		m, ok := w.subscribers[event]
		if !ok {
			m = make(map[*websocket.Conn]bool)
		}
		m[c] = true
		w.subscribers[event] = m
	}
	w.mutex.Unlock()
}

func (w *WebsocketPubSub) Unsubscribe(events []string, c *websocket.Conn) {
	w.mutex.Lock()
	for _, event := range events {
		m, ok := w.subscribers[event]
		if ok {
			delete(m, c)
			if len(m) == 0 {
				delete(w.subscribers, event)
			} else {
				w.subscribers[event] = m
			}
		}
	}
	w.mutex.Unlock()
}

func (w *WebsocketPubSub) Broadcast(event string, data any) {
	w.mutex.Lock()
	if m, ok := w.subscribers[event]; ok {
		for ws := range m {
			go ws.WriteJSON(OutMessage{
				Kind:  KindNotify,
				Event: event,
				Data:  data,
			})
		}
	}
	w.mutex.Unlock()
}

func (w *WebsocketPubSub) BroadcastF(event string, data any, f func(c *websocket.Conn, send func())) {
	w.mutex.Lock()
	if m, ok := w.subscribers[event]; ok {
		for c := range m {
			go f(c, func() {
				c.WriteJSON(OutMessage{
					Kind:  KindNotify,
					Event: event,
					Data:  data,
				})
			})
		}
	}
	w.mutex.Unlock()
}

func (w *WebsocketPubSub) Handler(c *websocket.Conn) {
	c.WriteJSON(&OutMessage{
		Kind: KindConnected,
	})
	events := []string{}
	for {
		m := new(InMessage)
		err := c.ReadJSON(m)
		if err != nil {
			if websocket.IsCloseError(err) || websocket.IsUnexpectedCloseError(err) {
				println("closed unexpectedly")
				w.Unsubscribe(events, c)
				return
			}
			c.WriteJSON(OutMessage{
				Kind:  KindError,
				Error: err.Error(),
			})
			continue
		}
		switch m.Action {
		case ActionSubscribe:
			var appended = []string{}
			events, appended = utils.AppendValues(events, m.Events...)
			w.Subscribe(appended, c)
		case ActionUnsubscribe:
			var removed = []string{}
			events, removed = utils.RemoveValues(events, m.Events...)
			w.Unsubscribe(removed, c)
		case ActionUnsubscribeAll:
			w.Unsubscribe(events, c)
			events = []string{}
		case ActionDisconnect:
			w.Unsubscribe(events, c)
			return
		}
	}
}

func NewWebsocketPubSub() *WebsocketPubSub {
	return &WebsocketPubSub{
		mutex:       sync.Mutex{},
		subscribers: make(map[string]map[*websocket.Conn]bool, 0),
	}
}
