{
  "openapi": "3.0.2",
  "info": {
    "title": "SWAGGER API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://localhost:5000/api"
    }
  ],
  "paths": {
    "/users": {
      "get": {
        "tags": ["users"],
        "description": "Query users",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "token",
            "in": "cookie"
          },
          {
            "schema": {
              "type": "object",
              "properties": {}
            },
            "name": "query",
            "in": "query",
            "description": "stringify the object before sending it"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    }
  }
}
